<nav class="sidebar sidebar-offcanvas" id="sidebar">
    <ul class="nav">
        <!-- <li class="nav-item">
            <a class="nav-link mx-3 my-2" href="/app" data-toggle="collapse">
                <i class="align-text-bottom fas fa-home fa-lg"></i>
                <span class="menu-title pl-3">Dashboard</span>
            </a>
        </li> -->
        <li class="nav-item ">
            <a class="nav-link mx-3 my-2" data-toggle="collapse" href="#auth3" aria-expanded="false" aria-controls="auth3">
                <span class=""><i class="fas fa-users fa-lg"></i></span>
                <span class="menu-title pl-3">Persona
                    <span class="ml-auto"><i class="text-right fas fa-sort-down fa-lg"></i></span>
                </span>
            </a>
            <div class="collapse" id="auth3">
                <ul class="nav flex-column sub-menu">
                    <li class="nav-item my-2"> <a class="nav-link" href="/app/persona/BusquedaCompleta">Busqueda Completa</a></li>
                </ul>
            </div>
        </li>
    </ul>
</nav>