<div class="content-wrapper" ng-controller="agregarRutaCtrl" ng-init="getColaboradores()" ng-cloak>

    <!-- aside selector -->
    <pageslide ps-open="showPageslide" ps-body-class ="false" ps-push="false" ps-click-outside="false"  ps-size="400px" style="overflow: scroll;">
        <div class="filter-wrapper bg-primary d-flex justify-content-center flex-column">
            <input type="text" class="form-control" ng-model="q" aria-label="filter colaboradores" placeholder="Busqueda de persona." >
        </div>
        <div class="table-responsive">
            <table class="table">
                <tbody>
                    <tr ng-repeat="colaborador in colaboradores | filter:q as results track by colaborador.General.Nombre | limitTo: 100" ng-cloak>
                        <td class="table-cell">
                            <button type="button" class="btn btn-primary" ng-click="select(colaborador)"></button>
                            {{colaborador.General.Nombre.concat(" ",colaborador.General.Apellido)}}
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </pageslide>
    <!-- ene aside selector -->


    <div class="row">
        <div class="col-md-12 grid-margin stretch-card">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Registro de Rutas</h4>
                    <p class="card-description">
                        Formulario que permite realizar el registro de las rutas.
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12 grid-margin stretch-card">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title text-primary">Información General</h4>
                    <div class="row">
                        <div class="col-md-7">
                            <div class="form-group row">
                                <label class="col-12 col-sm-3 my-auto">Persona</label>
                                <div class="col-12 col-sm-9 input-group">
                                    <div type="text" class="form-control" placeholder="Nombre" aria-label="Recipient's username"
                                        aria-describedby="basic-addon2">
                                        {{selectColaborador.General.Nombre.concat(' ',selectColaborador.General.Apellido)}}</div>
                                    <div class="input-group-append">
                                        <button class="btn btn-outline-dark border " type="button" ng-click="togglesidebar()">...</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-5">
                            <div class="form-group row">
                                <label class="col-sm-3 my-auto">Cedula</label>
                                <div class="col-sm-9">
                                    <div class="form-control form-control-sm">{{selectColaborador.General.Cedula}}</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <br>
                    <h4 class="card-title text-primary">Datos Demográficos</h4>
                    <div class="row">
                        <div class="col-md-6">
                            <!-- <div class="form-group row">
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <label class="input-group-text" for="asd">Options</label>
                                    </div>
                                    <select class="custom-select" id="asd" ng-model="selectDepartamento" ng-options="Departamento.Municipios.Nombre for Departamento in Departamentos">
                                    </select>
                                </div>
                            </div>  -->
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <label class="input-group-text-select" for="Depa">Departamento</label>
                                </div>
                                <select class="custom-select" id="Depa" ng-model="selectDepartamento" ng-options="Departamento.Nombre for Departamento in Departamentos">
                                    <!-- <option selected>Choose...</option>
                                    <option value="1">One</option>
                                    <option value="2">Two</option>
                                    <option value="3">Three</option> -->
                                </select>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group row">
                                <label class="col-sm-3 my-auto">Municipio</label>
                                <div class="col-sm-9">
                                    <div class="form-control form-control-sm">{{info.demografia.municipio}}</div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group row">
                                <label class="col-sm-3 my-auto">Km recorrido</label>
                                <div class="col-sm-9">
                                    <div class="form-control form-control" style="overflow: auto;">
                                        {{info.demografia.kilometraje}}</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <br>
                    <h4 class="card-title text-primary">Insumo</h4>
                    <div class="row">
                        <div class="col-7 col-md-auto">
                            <div class="form-group row">
                                <div class="col-auto">
                                    <div class="form-check">
                                        <label class="form-check-label">
                                            <input type="radio" class="form-check-input" name="membershipRadios" ng-model="TipoInsumo"
                                                value="Cedula">
                                            Gasolina
                                        </label>
                                    </div>
                                </div>
                                <div class="col-auto">
                                    <div class="form-check">
                                        <label class="form-check-label">
                                            <input type="radio" class="form-check-input" name="membershipRadios" ng-model="TipoInsumo"
                                                value="Telefono">
                                            Pasaje
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-5 h-100 col-md-2 offset-md-1">
                            <div class="form-group form-group-sm row">
                                <div class="input-group col-xs-12">
                                    <input type="text" class="form-control form-control-sm text-right" placeholder="Cantidad Insumo" ng-model="Insumo" />
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group row">
                                <label class="col-sm-auto my-auto">Ingreso INSS</label>
                                <div class="col-sm-7">
                                    <div class="input-group input-group-sm">
                                        <div class="input-group-prepend">
                                            <span
                                                class="bg-primary border-primary input-group-text text-white py-1 px-2"
                                                id="inputGroup-sizing-sm">C$</span>
                                        </div>
                                        <div class="form-control form-control-sm">{{info.ingresos.salarioInss}}</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group row">
                                <label class="col-sm-auto my-auto">Trabajador Activo</label>
                                <div class="col-sm-7">
                                    <div class="input-group input-group-sm">
                                        <!-- <div class="input-group-prepend">
                      <span class="bg-primary border-primary input-group-text text-white py-1 px-2"
                        id="inputGroup-sizing-sm">C$</span>
                    </div> -->
                                        <div class="form-control form-control-sm">
                                            <p ng-if="info.ingresos.isWorking">Si</p>
                                            <p ng-if="!info.ingresos.isWorking">No</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-8 grid-margin stretch-card">
            <div class="card">
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>Operadora</th>
                                    <th>Telefono</th>
                                    <th class="text-center">Informacion</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="phone in info.phones" ng-if="phone.Operadora">
                                    <td>{{phone.Operadora}}</td>
                                    <td ng-switch="phone.Operadora">
                                        <label ng-switch-when="movistar"
                                            class="badge badge-primary">{{phone.Telefono}}</label>
                                        <label ng-switch-when="claro"
                                            class="badge badge-danger">{{phone.Telefono}}</label>
                                    </td>
                                    <td class="text-center"><i class="fas fa-info-circle fa-lg"></i></td>
                                </tr>
                                <tr ng-repeat="phone in info.phones" ng-if="!phone.Operadora">
                                    <td>Desconocido</td>
                                    <td><label class="badge badge-warning">{{phone.Telefono}}</label></td>
                                    <td class="text-center"><i class="fas fa-info-circle fa-lg"></i></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-4 grid-margin stretch-card">
            <div class="card">
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th class="text-center" colspan="2"><i class="mr-2 fas fa-money-check-alt"></i>
                                        Banco</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="card in info.cards">
                                    <td class="text-center" ng-switch="card.bank" colspan="2">
                                        <img ng-switch-when="BAC" style="border-radius: 0" src="/resources/img/BAC.png">
                                        <img ng-switch-when="BDF" style="border-radius: 0"
                                            src="/resources/img/BDF.png" />
                                        <img ng-switch-when="LAFISE" style="border-radius: 0;width: 60px"
                                            src="/resources/img/Lafise.png" />
                                        <img ng-switch-when="FICOHSA" style="border-radius: 0;height: 26px;width: 80px"
                                            src="/resources/img/Ficohsa.png" />
                                        <img ng-switch-when="SIMAN" style="border-radius: 0;width: 90px"
                                            src="/resources/img/Siman.png" />
                                        <img ng-switch-when="BANPRO" style="border-radius: 0;width: 60px"
                                            src="/resources/img/Banpro.png" />
                                        <p ng-switch-when="Otros">Otros</p>
                                    </td>
                                </tr>
                                <tr ng-if="info.ingresos.statusCredex">
                                    <td class="text-center">
                                        <img style="border-radius: 0;height: 26px; width: 120px"
                                            src="/resources/img/credex.png">
                                    </td>
                                    <td>{{info.ingresos.statusCredex}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        
    </div>
       
</div>
