<div class="content-wrapper" ng-controller="agregarRutaCtrl" ng-init="Init()" ng-cloak>

    <!-- aside selector -->
    <pageslide ps-open="showPageslide" ps-body-class ="false" ps-push="false" ps-click-outside="false"  ps-size="400px" style="overflow: scroll;">
        <div class="filter-wrapper bg-primary d-flex justify-content-center flex-column">
            <input type="text" class="form-control" ng-model="q" aria-label="filter listColaboradores" placeholder="Busqueda de persona." >
        </div>
        <div class="table-responsive">
            <table class="table">
                <tbody>
                    <tr ng-repeat="colaborador in listColaboradores | filter:q as results track by colaborador.General.Nombre | limitTo: 100" ng-cloak>
                        <td class="table-cell">
                            <button type="button" class="btn btn-primary" ng-click="select(colaborador)"></button>
                            {{colaborador.General.Nombre.concat(" ",colaborador.General.Apellido)}}
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </pageslide>
    <!-- end aside selector -->


    <div class="row">
        <div class="col-md-12 grid-margin stretch-card">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Registro de Rutas</h4>
                    <p class="card-description">
                        Formulario que permite realizar el registro de las rutas.
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
    <div class="col-lg-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title text-primary">Información General</h4>
                <div class="row">
                    <div class="col-md-8">
                        <div class="form-group">
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text-select" id="Persona">Persona</span>
                                </div>
                                <div class="form-control" aria-label="Persona" aria-describedby="Persona" style="height: 40px !important;">
                                    {{selectColaborador.General.Nombre.concat(' ',selectColaborador.General.Apellido)}}</div>
                                <div class="input-group-append" aria-describedby="Persona">
                                    <button class="btn btn-outline-dark form-control" type="button" ng-click="togglesidebar()">...</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text-select" id="basic-addon2">Cedula</span>
                                </div>
                                <div class="form-control" aria-label="Cedula" aria-describedby="basic-addon2" style="height: 40px !important;">
                                    {{selectColaborador.General.Cedula}}
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text-select" id="FechaSalida">Fecha Salida</span>
                                </div>
                                <!-- <input type="text" ng-model="res.FechaSalida" class="form-control" /> -->
                                <datepicker date-format="dd/MM/yyyy" date-set={{now}} date-set-hidden="true" date-min-limit={{minDate}}
                                    date-max-limit={{maxDate}} class="form-control angular-datepicker" style="height: 40px !important;">
                                    <input ng-model="res.FechaSalida" type="text" class="angular-datepicker-input" />
                                </datepicker>
                            </div>
                        </div>
                    </div>
                </div>
                    <br>
                    <h4 class="card-title text-primary">Datos Demográficos</h4>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <label class="input-group-text-select" for="Depa" >Departamento</label>
                                </div>
                                <select class="custom-select" id="Depa" ng-model="res.Departamento" ng-options="k as k  for (k,v) in listDepartamentos" ng-change="departamentoChange()">
                                </select>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <label class="input-group-text-select" for="Muni">Municipio</label>
                                </div>
                               <select class="custom-select" id="Muni" ng-model="res.Municipio"
                                    ng-options="Municipio.Nombre as Municipio.Nombre for Municipio in listDepartamentos[res.Departamento].Municipios">
                                </select> 
                            </div>
                        </div>
                    </div>
                    <br>
                    <h4 class="card-title text-primary">Insumo</h4>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <label class="input-group-text-select" for="kInsumo">Tipos Insumo</label>
                                </div>
                                <select class="custom-select" id="kInsumo" ng-model="auxinsumo" ng-options="ti.description for ti in listTiposInsumo" ng-change="kInsumoChange(auxinsumo)">
                                </select>
                            </div>
                        </div>
                        <div class="col-10 col-md-5">
                            <div class="form-group">
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text-select" id="vInsumo">{{insumo.l}}</span>
                                    </div>
                                    <input type="text" ng-model="insumo.v" decimals-only class="form-control" />
                                </div>
                            </div>
                        </div>
                        <div class="col-10 col-md-6" ng-if="insumo.db != 'Alimento'">
                            <div class="form-group">
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text-select" id="ObvInsumo">Observacion</span>
                                    </div>
                                    <input type="text" ng-model="insumo.o"  class="form-control" />
                                </div>
                            </div>
                        </div>
                        <div class="col-10 col-md-5" ng-if="insumo.db == 'Gasolina'">
                            <div class="form-group">
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text-select" id="kmInsumo">Kilometraje</span>
                                    </div>
                                    <input type="text" ng-model="insumo.km" decimals-only class="form-control" />
                                </div>
                            </div>
                        </div>
                        <div class="col-1">
                            <buttton class="roundBtn btn-primary" ng-click="addInsumo()">+</buttton>
                        </div>
                        <div class="col-12">
                            <div class="table-responsive">
                                <table class="table table-striped">
                                    <thead>
                                        <tr>
                                            <th>Tipo de Insumo</th>
                                            <th>Valor</th>
                                            <th>Observación</th>
                                            <th></th>
                                        </tr>
                                    </thead>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="Insumo in res.Insumos | limitTo: 100"
                                            ng-cloak>
                                            <td class="table-cell" ng-if="Insumo.Tipo != 'Gasolina'">
                                                {{listTiposInsumo[Insumo.Tipo].description}}
                                            </td>
                                            <td class="table-cell" ng-if="Insumo.Tipo == 'Gasolina'">
                                                {{listTiposInsumo[Insumo.Tipo].description}} (KM = {{Insumo.Kilometro}})
                                            </td>
                                            <td ng-if="Insumo.Tipo == 'Gasolina'">
                                                {{Insumo.Valor}} Lts
                                            </td>
                                            <td ng-if="Insumo.Tipo != 'Gasolina'">
                                                C$ {{Insumo.Valor}}
                                            </td>
                                            <td>
                                                {{Insumo.Observacion}}
                                            </td>
                                            <td style=" max-width: 130px; width: 130px; background: white; border: white solid;">
                                                <buttton class="btn btn-sm btn-warning" ng-click="delInsumo(Insumo)">Eliminar</buttton>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <br>
                    <h4 class="card-title text-primary">Casos</h4>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <label class="input-group-text-select" for="nCaso">Caso</label>
                                </div>
                                <input type="text" ng-model="nCaso" class="form-control text-uppercase" maxlength="50" />
                                <div class="input-group-append" aria-describedby="nCaso">
                                    <button class="btn btn-outline-dark form-control" type="button" ng-click="addCaso(nCaso)">+</button>
                                    <button class="btn btn-outline-dark form-control" type="button" ng-class="{select: enableDelCase}" ng-click="toggleDelCase()">
                                        <i class="fa fa-trash"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                        <div class="col-6" >
                            <span ng-repeat="caso in res.Casos  track by $index" class="m-1 badge badge-pill badge-info" ng-model="caso" ng-click="delCaso($index)">{{caso}}</span>
                        </div>
                    </div>
                    <br>
                    <h4 class="card-title text-primary">Otra Informacion</h4>
                    <div class="row">
                        <div class="col-12">
                            <div class="form-group">
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text-select" id="Descripcion">Descripcion</span>
                                    </div>
                                    <input type="text" ng-model="res.Descripcion" class="form-control" maxlength="255"/>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row d-flex justify-content-end">
                        <div class="col-2">
                            <a href="/app/ruta/agregar" class="btn btn-danger">Cancelar</a>
                        </div>
                        <div class="col-2">
                            <Buttom class="btn btn-success" ng-click="submit()">Aceptar</Buttom>
                        </div>
                    </div>
            </div>
        </div>
    </div>
    
</div>

</div>
