/*SideBar*/
.sidebar{
    background-color: #2A2A2A;
    border-right: none !important;
}
.sidebar .nav:not(.sub-menu) > .nav-item {
    border-bottom: none !important;
}
.sidebar .nav .nav-item .nav-link {
    color: #d5d5d5 !important;
    font-size: 14px;
}
/*.sidebar .nav .nav-item .nav-link span{
    font-size: 17px !important;
    font-family: Roboto,Helvetica,Arial,sans-serif;
    color:white !important;
}*/

/*NavBar*/
.navbar .navbar-brand-wrapper {
    background: black;
    border-bottom: none !important;
    border-right: none !important;
}
.navbar .navbar-menu-wrapper {
    background: black;
    border-bottom: none !important;
}
.navbar .navbar-brand-wrapper .navbar-brand-inner-wrapper .navbar-toggler {
    color: #d5d5d5;
}

/*Footer*/
.footer{
    background-color: #e3e3e3;;
    /* position: absolute !important;
    width: 100% !important;
    bottom: 0 !important; */
}
.footer a{
    color: rgb(255, 214, 70) !important;
}