<nav class="sidebar sidebar-offcanvas" id="sidebar">
    <ul class="nav">

        <div class="navbar-brand-inner-wrapper d-flex justify-content-between align-items-center w-100">
            <!-- <a class="navbar-brand brand-logo" href="/app"><img src="/resources/img/golkii-sm.png" alt="Golkii Logo"></a> -->
            <button class="navbar-toggler navbar-toggler align-self-center" type="button" data-toggle="minimize">
                <i class="fas fa-bars"></i>
            </button>
        </div>

        <li class="nav-item p-3">
            <a class="nav-link" href="/app"><i class="fas fa-home fa-lg"></i><span class="ml-3 menu-title">Home</span></a>
        </li>
        <!-- <li class="nav-item">
            <a class="nav-link" data-toggle="collapse" href="#auth" aria-expanded="false" aria-controls="auth">
                <i class="mdi mdi-account menu-icon"></i>
                <span class="menu-title">User Pages</span>
                <i class="menu-arrow"></i>
            </a>
            <div class="collapse" id="auth">
                <ul class="nav flex-column sub-menu">
                    <li class="nav-item"> <a class="nav-link" href="pages/samples/login.html"> Login </a></li>
                    <li class="nav-item"> <a class="nav-link" href="pages/samples/login-2.html"> Login 2 </a></li>
                    <li class="nav-item"> <a class="nav-link" href="pages/samples/register.html"> Register </a></li>
                    <li class="nav-item"> <a class="nav-link" href="pages/samples/register-2.html"> Register 2 </a></li>
                    <li class="nav-item"> <a class="nav-link" href="pages/samples/lock-screen.html"> Lockscreen </a>
                    </li>
                </ul>
            </div>
        </li> -->
    </ul>
</nav>