<div class="error-main container">
    <div class="row" style="height: 100% !important;">
        <div class="col-md-12 align-self-center">
            <div class="error-template">
                <h1>Oops!</h1>
                <h2><spam class="error-spam">404</spam> Página no encontrada</h2>
                <div class="error-details">
                    Lo sentimos, ha ocurrido un error, La página solicitada ha sido encontrada!
                </div>
                <div class="error-actions pt-5">
                    <a href="/app" class="btn m-0 p-3 shadow-sm"><i class="fas fa-home fa-lg"></i></a>
                </div>
            </div>
        </div>
    </div>
</div>