<!doctype html>
<html lang="es">

<head>
    <%- include('../partials/header') %>
    <link rel="stylesheet" href="/resources/css/errorPage.css">
</head>

<body>
    <%-body%>
    <%- include('../partials/footer')%>
</body>
<script src="/resources/js/all.min.js"></script>
</html>