<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<title><%=title%></title>
<link rel="icon" href="/resources/img/golkii-icon.ico">
<link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet"> 
<link rel="stylesheet" href="/resources/css/general/all.min.css">
<link rel="stylesheet" href="/resources/css/general/style.min.css">
<link rel="stylesheet" href="/resources/css/angular/angular-datepicker.min.css">
<link rel="stylesheet" href="/resources/css/application/main.css">
<link rel="stylesheet" href="/resources/css/application/navbar.min.css">
<link rel="stylesheet" href="/resources/css/application/sidebarr.min.css">
<link rel="stylesheet" href="/resources/css/application/footer.min.css">