<div class="content-wrapper" ng-controller="Busqueda">
  <div class="row">
    <div class="col-md-12 stretch-card">
      <div class="card">
        <div class="card-body">
          <p class="card-title text-dark">{{message}}</p>
        </div>
      </div>
    </div>
  </div>
</div>